/* task-form.component.scss */
.card {
  border: none;
  border-radius: 8px;

  &-header {
    padding: 1.25rem 1.5rem;
  }

  &-body {
    padding: 2rem;
  }
}

textarea {
  min-height: 120px;
  resize: vertical;
}

.btn {
  min-width: 120px;
}

button {
  flex: 1 1 auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 4px;
  text-align: center;
}
